{% extends "admin/base.html" %}
{% load i18n static %}

{% block sidebar %}
  {{ block.super }}
  <!-- Sección "Consultas y reportes" visible para todos los usuarios del admin -->
  <div class="module" id="consultas-reportes-module">
    <table style="width: 100%;">
      <caption>
        <a href="#" class="section" title="Consultas y reportes">Consultas y reportes</a>
      </caption>
      <tbody>
        <tr class="model-consulta-causacion">
          <th scope="row">
            <a href="{% url 'consulta_causacion' %}">📊 Consulta de Causación</a>
          </th>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}