{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<h1>📝 Regularizar pago #{{ pago.pago_id }}</h1>

<form method="post" novalidate>
    {% csrf_token %}

    <fieldset class="module aligned">
        <div class="form-row">
            {{ form.prestamo_id_real.label_tag }}
            {{ form.prestamo_id_real }}
            {% if form.prestamo_id_real.help_text %}
                <p class="help">{{ form.prestamo_id_real.help_text }}</p>
            {% endif %}
            {{ form.prestamo_id_real.errors }}
        </div>
    </fieldset>

    <div class="submit-row">
        <input type="submit" value="Guardar" class="default">
        <a class="button cancel-link" href="{% url 'admin:appfinancia_inbox_pagosdetalle_change' pago.pago_id %}">
            Cancelar
        </a>
    </div>
</form>
{% endblock %}
